@import url('https://fonts.googleapis.com/css?family=Numans');
@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixins';

@import 'vendors/bootstrap';

@import 'base/typo';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/forms';

@import 'components/buttons';

.body-background{
    background-image: url("Trabajo Final/imagenes/background.jfif");  
}
h2 {
    @include bases(($size/5-10)*$px,$color2,$font-titles);
    text-transform: uppercase;  
}
p{
    @include bases(($size/10-8)*$px,$color2,$font-p);
}
.container{
    max-width:($size*6)*$px;
    margin:auto;
}
.home-section{
    padding-top:($size/2)*$px;
}
.top-stories-section{
    margin:($size/4)*$px;
}
.new-releases{
    margin-top:$size*$px;
}
.featured-guides{
    margin-top:($size/2)*$px;
    margin-bottom:($size/2)*$px;
}
.top-games-sec{
    margin-bottom:($size-120)*$px;
}
.allreview-section{
    @extend .top-games-sec;
}
.last-updates{
    @extend .top-games-sec;
}
.review-section{
    @extend .new-releases;
}
.top-guides{
    @extend .new-releases;
}
.sign-in{
    @extend .new-releases;
}
