$color1:#fff;
$color2:black;
$color3:rgb(255, 255, 255);
$color4:rgb(44, 38, 38);
$color5:rgba(255, 255, 255, 0.596);
$font-titles:remississemibold;
$font-common:rockford_sanslight;
$size-h3-common:15;
$size-h3-footer:20;
$size:200px;

@font-face {
    font-family: 'remississemibold';
    src: url('fonts/remissis_sb-webfont.woff2') format('woff2'),
         url('fonts/remissis_sb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rockford_sanslight';
    src: url('fonts/fontsfree-net-fenotype-rockford-sans-light-webfont.woff2') format('woff2'),
         url('fonts/fontsfree-net-fenotype-rockford-sans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.suscribe-configuracion{
    text-transform:none;
    font-family:$font-common;
}
.signin-letra-tamano a{
    color:$color1;
    text-decoration:none;
    font-size:($size/10);
    font-family: $font-common;
}
.menubar {
    padding:.8rem;
}
.menubar{
    .titulomenu-config{
        padding-right:20px;
    }
}
.titulomenu {
    font-size:1.1em !important;
    font-family:$font-common;
    color:$color2;
}
.menubar{
    .titulomenu-config{
        .titulomenu{
            &:hover{
                background-color:black;
                color:$color1;
                border-radius: $size/4;
            }
        }
    }
}
.header-background{   
    background-color:$color3;  
}
.header-tamaño{
    width:100%; 
    margin-bottom:$size/4;   

}
.footer-background{
    background-image: linear-gradient(to bottom,$color4,$color2);

}
.footer-tamaño{
    width: 100%;
}
.body-background{
    
    background-image: url("Trabajo Final/imagenes/background.jfif");

    
}


h3{
    @if $size-h3-common <=15 {
        font-size:15px;
        color:$color2;
        font-family:$font-titles;
    } @else {
        font-size:20px;
        color:$color1;
        font-family: $font-common;
    }

}
footer h3{
    @if $size-h3-footer <=15 {
        font-size:15px;
        color:$color2;
        font-family:$font-titles;
    } @else {
        font-size:20px;
        color:$color1;
        font-family: $font-common;
    }

}
h2 {
    columns: $color2;;
    font-size: $size/5-10;
    font-family: $font-titles;
    text-transform: uppercase;
    
}
p{
   color:$color2;
   font-size: ($size/10)-8;
   font-style: arial; 
}
.home-section{
    padding-top:100px;
}
.top-stories-section{
    margin:50px;
}
.new-releases{
    margin-top:200px;
}
.review-section{
    @extend .new-releases;
}
.top-guides{
    @extend .new-releases;
}

.sign-in{
    @extend .new-releases;
}
@mixin button($font-size,$color,$font-family){
    color:$color;
    font-size:$font-size;
    font-family:$font-family;
}
.btn-dark{
    @include button(($size/10),$color5,$font-common);
    text-transform:none;

}

.btn-danger a{
    @include button(($size/10),$color1,$font-common);
    text-transform:none;

}