$color1:#fff;
$color2:black;
$color3:rgb(255, 255, 255);
$color4:rgb(44, 38, 38);
$color5:rgba(255, 255, 255, 0.596);
$color6:rgba(22, 6, 6, 0.514);
$color7:#3c3d41;
$font-titles:remississemibold;
$font-common:rockford_sanslight;
$font-p:Arial;
$size-h3-common:15;
$size-h3-footer:20;
$size:200;
$px:1px;
